<div data-ng-controller="entityrecordsctrl" data-ng-init="getseeddata()">
    Add {{entityname}} record:

    <div data-ng-if="entityname=='subjects'">
        <input type="text" ng-model="entitydata.name" placeholder="subject name">
        <input type="text" ng-model="entitydata.type" placeholder="subject type">
        <select name="teacher" data-ng-model="entitydata.teacher" data-ng-options="sr._id as sr.name for sr in teachers" required>
            <option value="">Select teacher *</option>
        </select>
        <button data-ng-click="add()">Add</button>

    </div>

    <div data-ng-if="entityname=='students'">

        <input type="text" ng-model="entitydata.name" placeholder="student name">
        <input type="text" ng-model="entitydata.course" placeholder="student course">
        <!--<select name="subject" data-ng-model="entitydata.subjects" data-ng-options="sr._id as sr.name for sr in subjects" required>
            <option value="">Select Subject *</option>
        </select>-->
        Select subjects :<label ng-repeat="item in subjects">
           <input
                    type="checkbox"
                    name="selectedFruits[]"
                    value="{{item._id}}"
                    ng-checked="entitydata.subjects.indexOf(item._id) > -1"
                    ng-click="toggleSelection(item._id)"
                    > {{item.name}}
        </label>
        <!--<select name="subject" data-ng-model="entitydata.teachers" data-ng-options="sr._id as sr.name for sr in teachers" required>
            <option value="">Select Teacher *</option>
        </select-->

        <button data-ng-click="add()">Add</button>
    </div>

    <div data-ng-if="entityname=='teachers'">

        <input type="text" ng-model="entitydata.name" placeholder="teacher name">
        <input type="text" ng-model="entitydata.deptt" placeholder="teacher Deptt.">

        <button data-ng-click="add()">Add</button>
    </div>

</div>