<div data-ng-controller="entityrecordsctrl" data-ng-init="getRecord()">
    <div data-ng-if="entityname=='students'">
        {{entityname}} record detail:
        <div class="container">
            name:{{data.name}}<br>
            course:{{data.course}}<br>
            teachers:<ul><li data-ng-repeat="item in data.subjects">{{item.teacher.name}}</li></ul>
            subjects:<ul><li data-ng-repeat="item in data.subjects">{{item.name}} of type {{item.type}}</li></ul>

        </div>
    </div>

    <div data-ng-if="entityname=='teachers'">
        {{entityname}} record detail:
        <div class="container">
            name:{{data.name}}<br>
            deptt:{{data.deptt}}<br>
        </div>
    </div>

    <div data-ng-if="entityname=='subjects'">
        {{entityname}} record detail:
        <div class="container">
            name:{{data.name}}<br>
            type:{{data.type}}<br>
            students:<ul><li data-ng-repeat="item in data.students">{{item.name}}</li></ul>

        </div>
    </div>

</div>