<div data-ng-controller="entityrecordsctrl" data-ng-init="getAll()">
    All {{entityname}} are:
    <ul>
        <li data-ng-repeat="item in data">
            <a ng-href="#/get/{{entityname}}/{{item._id}}">{{item.name}}</a>
        </li>
    </ul>
</div>