body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body{
  /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#74afad), to(#35bb8c));

  /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #74afad, #2ab2ad);

  /* Firefox 3.6+ */
    background: -moz-radial-gradient(circle, #74afad, #2ab2ad);

  /* IE 10 */
    background: -ms-radial-gradient(circle, #74afad, #2ab2ad);
    height:600px;
}

.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
